<div class="app-navbar">
    <app-navbar (toggle)="toggleSidebar()"></app-navbar>
</div>
<ng-sidebar-container>
    <!-- A sidebar -->
    <ng-sidebar #sidebar [(opened)]="_opened">
        <app-side-menu  (toggle)="toggleSidebar()"></app-side-menu>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
        <div class="container column is-9">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</ng-sidebar-container>