<div class="app-navbar">
    <app-navbar (toggle)="toggleSidebar()"></app-navbar>
</div>
 <ng-sidebar-container contentClass="columns">
    <!-- A sidebar -->
     <ng-sidebar #sidebar [(opened)]="_opened" sidebarClass="column is-2 test">
        <app-side-menu  (toggle)="toggleSidebar()"></app-side-menu>
    </ng-sidebar> 

    <!-- Page content -->
    <div ng-sidebar-content class="column is-10 is-offset-2 fixed">
        <alert></alert>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</ng-sidebar-container>
