<div class="container is-fluid">
    <!--<div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <h4> Statistics Histogram </h4>
          <chart [type]="type" [data]="data" [options]="options"></chart>
        </article>
      </div>
    </div>-->
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <h4> Readings Statistics History </h4>
          <br/>
          <chart [type]="readingChart" [data]="readingValues" [options]="readingOptions"></chart>
          <br/>
          <h6>Total since startup:<b> {{statisticsData['READINGS  ']}} </b></h6>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <h4> Purge Statistics History </h4>
          <br/>
          <chart [type]="purgeChart" [data]="purgedValues" [options]="options"></chart>
          <br/>
          <h6>Total since startup:<b> {{statisticsData['PURGED    ']}} </b></h6>
        </article>
      </div>
    </div>
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <h4> Sent Statistics History </h4>
          <br/>
          <chart [type]="sentChart" [data]="sentValues" [options]="options"></chart>
          <br/>
          <h6>Total since startup:<b> {{statisticsData['SENT      ']}} </b></h6>
        </article>
      </div>
      <div class="tile is-parent">
      </div>
    </div>

    <div class="tile">
      <!--<div class="tile is-parent">
        <article class="tile is-child box">
          <div class="columns">
            <div class="column">
              <p class="control">
                Configuration Manager
                <a class="button is-small is-pulled-right" href="/configuration">
                  <span class="icon is-small">
                      <i class="fa fa-arrow-right"></i>
                    </span>
                </a>
                <a class="button is-small is-pulled-right">
                  <span class="icon is-small" (click)="getCategories()"> 
                        <i class="fa fa-refresh"></i>
                    </span>
                </a>
              </p>
            </div>
          </div>
          <hr align="center">
          <table class="table is-bordered is-striped is-narrow">
            <thead>
              <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let configuration of congfigurationData">
                <td>{{configuration.key}}</td>
                <td>
                  <small> {{configuration.description}}</small>
                </td>
                <td> <a (click)="showModal(configuration.key.trim())">show</a>
                  <div id="{{configuration.key.trim()}}" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                      <header class="modal-card-head">
                        <p class="modal-card-title">{{configuration.key.trim()}}</p>
                        <button (click)="closeModal(configuration.key.trim())" class="delete"></button>
                      </header>
                      <section class="modal-card-body">
                        <table class="table is-bordered is-striped is-narrow">
                          <thead>
                            <tr>
                              <th>Item</th>
                              <th>Default</th>
                              <th>Value</th>
                              <th>Description</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let v of (categoryData[configuration.key.trim()] | keys)">
                              <td><b>{{v.key}}</b> <span class="tag is-light">{{v.value.type}}</span></td>
                              <td>{{v.value.default}} &nbsp; <span class="tag is-light">default</span></td>
                              <td>{{v.value.value}}</td>
                              <td><small>{{v.value.description}}</small></td>
                            </tr>
                          </tbody>
                        </table>
                      </section>
                    </div>
                  </div>
                </td>
              </tr>
              <tbody>
          </table>
        </article>
      </div>-->
      <div class="tile is-parent">
        <article class="tile is-child box">
          <div class="item">
            Service Status
          </div>
          <hr align="center">
          <table class="table is-bordered is-striped is-narrow">
            <thead>
              <tr>
                <th>Service</th>
                <th>Configured</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Storage</td>
                <td><span class="tag is-danger">No</span></td>
                <td>x</td>
              </tr>
              <tr>
                <td>Device</td>
                <td><span class="tag is-primary">Yes</span></td>
                <td><span class="tag is-success">Running</span></td>
              </tr>
            </tbody>
          </table>
        </article>
      </div>
    </div>
  </div>