<div class="container is-fluid">
  <div class="tile">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <h4> Readings Statistics History </h4>
        <br/>
        <chart [type]="readingChart" [data]="readingValues" [options]=""></chart>
        <br/>
        <h6>Total since startup:<b> {{statisticsData['READINGS']}} </b></h6>
      </article>
    </div>
  </div>
  <div class="tile">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <h4> Sent Statistics History </h4>
        <br/>
        <chart [type]="sentChart" [data]="sentValues" [options]=""></chart>
        <br/>
        <h6>Total since startup:<b> {{statisticsData['SENT_1']}} </b></h6>
      </article>
    </div>
  </div>
  <div class="tile">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <h4> Purge Statistics History </h4>
        <br/>
        <chart [type]="purgeChart" [data]="purgedValues" [options]=""></chart>
        <br/>
        <h6>Total since startup:<b> {{statisticsData['PURGED']}} </b></h6>
      </article>
    </div>
  </div>
</div>