<div class="container is-fluid">
  <div class="panel">
    <p class="panel-heading">
      <small> Audit Logs </small>
    </p>
    <div class="panel-block">
        <table class="table is-striped is-narrow">
          <thead>
            <tr>
              <th>Source</th>
              <th>Severity</th>
              <th>Timestamp</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let logs of auditLogs">
              <td>{{logs.source}}</td>
              <td>
                <small> {{logs.severity}}</small>
              </td>
              <td>
                <span class="tag is-rounded"> {{logs.timestamp | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
              </td>
              <td>
                <small> {{logs.details | json}}</small>
              </td>
            </tr>
            <tbody>
        </table>
    </div>
  </div>
</div>