<div class="container is-fluid">
  <nav class="panel">
    <p class="panel-heading">
      <small> Audit Logs </small>
    </p>
    <div class="panel-block">
      <div class="columns">
        <div class="column">
          <div class="select">
            <select (change)="filterSource('source', $event)">
            <option selected="selected" >Source</option>
            <option *ngFor="let source of logSourceList"  [value]='source.code'>{{source.code}}</option>
          </select>
          </div>
        </div>
        <div class="column">
          <div class="select">
            <select (change)="filterSource('severity', $event)">
            <option selected="selected">Severity</option>
            <option *ngFor="let severity of logSeverityList"  [value]='severity.name'>{{severity.name}}</option>
          </select>
          </div>
        </div>
        <div class="column">
          <input-debounce placeholder="limit" (value)="setLimit($event)"></input-debounce>
        </div>

        <div class="column">
          <input-debounce placeholder="offset" (value)="setOffset($event)"></input-debounce>
        </div>
      </div>
    </div>

    <br>
    <br>
    <table class="table is-bordered is-striped is-fullwidth" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th>Source</th>
          <th>Severity</th>
          <th>Timestamp</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let logs of filterdData">
        <td>{{logs.source}}</td>
        <td>
          <small> {{logs.severity}}</small>
        </td>
        <td>
          <span class="tag is-rounded"> {{logs.timestamp | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
        </td>
        <td>
          <small> {{logs.details | json}}</small>
        </td>
      </tr>
      </tbody>
    </table>
  </nav>
</div>