<div class="container is-fluid">
  <div class="tile">
    <div class="tile is-parent">
      <div class="tile is-child card">
        <header class="card-header">
          <p class="card-header-title">
            Schedules
          </p>
        </header>
        <div class="card-content">
          <table class="table is-striped scroll is-responsive">
            <thead id="head">
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Day
                  <!-- <span class="tooltip is-tooltip-right" data-tooltip="ISO Days (1-7 Mon-Sun)">
                    <i class="fa fa-info-circle"></i>
                  </span> -->
                </th>
                <th>Time</th>
                <th>Interval</th>
                <th>Exclusive</th>
                <th></th>
              </tr>
            </thead>
            <tr *ngFor="let schedule of scheduleData">
              <td>
                <small> {{schedule.name}} </small>
              </td>
              <td>
                <small> {{schedule.type}}</small>
              </td>
              <!-- <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>{{schedule.day}}</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> -->
              <td>
                <small> {{getISODay(schedule.day)}} </small>
              </td>
              <td>
                <small> {{schedule.time}}</small>
              </td>
              <td>
                <small> {{schedule.repeat}}</small>
              </td>
              <td>
                <small> {{schedule.exclusive}}</small>
              </td>
              <td>
                <div (click)="editSchedule(schedule.id)">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
              </td>
              <td>
                <div (click)="openModal(schedule.id)">
                  <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </div>
              </td>
            </tr>
          </table>
          <app-modal (notify)='onNotify()' [childData]='childData'></app-modal>
          <app-update-modal (notify)='onNotify()' [childData]='updateScheduleData'></app-update-modal>
        </div>
      </div>
    </div>
    <div class="tile">
      <div class="tile is-parent">
        <div class="tile is-child card">
          <app-create-schedule (notify)='onNotify()' (process)='setScheduleProcess($event)' (type)='setScheduleType($event)'></app-create-schedule>
        </div>
      </div>
    </div>
  </div>

  <div class="tile">
    <div class="tile is-parent">
      <app-list-tasks></app-list-tasks>
    </div>
  </div>