<nav class="nav has-shadow">
  <div class="container">
    <label for="menu-toggle" class="nav-toggle" (click)="toggleClick()">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <div class="nav-left">
      <a class="nav-item">
        <b>FogLAMP Management</b>
      </a>
    </div>
    <div class="nav-right">
      <a class="nav-item">
        <span [ngClass]="ping_info.is_alive?'tag is-success':'tag is-danger'">{{ping_info.service_status}}</span>
      </a>
    </div>
  </div>
</nav>