<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <!-- <button class="button pagination-previous" (click)="onFirst()" [disabled]="page === 1"><i class="fa fa-backward" aria-hidden="true"></i></button> -->
  <button class="button pagination-previous" (click)="onPrev()" [disabled]="page === 1">{{ page-1 }}&nbsp;<i class="fa fa-caret-left" aria-hidden="true"></i></button>
  <button class="button pagination-next" (click)="onNext()" [disabled]="lastPage()"><i class="fa fa-caret-right" aria-hidden="true">&nbsp; {{(page !== totalPg) ? page+1 : totalPg}}</i></button>
  <!-- <button class="button pagination-next" (click)="onLast()" [disabled]="lastPage()"><i class="fa fa-forward" aria-hidden="true"></i></button> -->
   <ul class="pagination-list" *ngIf="totalPg >= 3"> 
    <li><a class="{{(page === 1) ? 'button is-primary' : 'pagination-link'}}" (click)="onFirst()">1</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li> 
    <li><a class="{{(page === middlePg) ? 'button is-primary' : 'pagination-link'}}" (click)="onPage(middlePage())">{{middlePg}}</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="{{(page === totalPg) ? 'button is-primary' : 'pagination-link'}}" (click)="onLast()">{{totalPg}}</a></li>
  </ul>
   <ul class="pagination-list" *ngIf="totalPg === 1">
    <li><a class="button is-primary" (click)="onFirst()">1</a></li>
  </ul>
  <ul class="pagination-list" *ngIf="totalPg === 2">
    <li><a class="{{(page === 1) ? 'button is-primary' : 'pagination-link'}}" (click)="onFirst()">1</a></li>
    <li><a class="{{(page === totalPg) ? 'button is-primary' : 'pagination-link'}}" (click)="onLast()">{{totalPg}}</a></li>
  </ul> 
</nav>