.pagination {
    width: 100%;
    position: relative;
    flex: 1;
    background: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pagination .description {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 20%;
}

.numbers {
    display: block;
    text-align: center;
    flex: 1;
}

.numbers .button {
    flex: 0 0 auto;
    outline: none;
    border: 0;
    padding: 0 (10%);
    background: transparent;
    cursor: pointer;
}

.pagination .description .page-counts {
    margin-right: 40%;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}