<div id="summary_modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div [hidden]='!isValidData' class="columns">
        <div class="column is-half">
          <p class="modal-card-title">{{assetCode}}</p>
        </div>
        <div class="column is-one-fifth is-three-quarters-mobile">
          <div class="select">
            <select #selectedType>
                <option value="hours">Hours</option>
                <option value="minutes">Minutes</option>
                <option value="seconds">Seconds</option>
            </select>
          </div>
        </div>
        <div class="column is-three-quarters-mobile">
          <input-debounce placeholder="time" #timeValue (value)="getTimedBasedSummary($event, selectedType.value)"></input-debounce>
        </div>
      </div>
       <div class="close">
          <button class="delete" aria-label="close" (click)="toggleModal(false); clear(timeValue, selectedType)"></button>
        </div>
    </header>
    <section class="modal-card-body">
      <p *ngIf='!isValidData'> Not Available </p>
      <table *ngIf='isValidData' class="table is-striped is-narrow scroll is-responsive">
        <thead>
          <tr>
            <th>Reading</th>
            <th>Average</th>
            <th>Min</th>
            <th>Max</th>
          </tr>
        </thead>
        <tbody *ngFor="let readings of assetReadingSummary">
          <tr *ngFor="let reading of readings.summary">
            <td>{{readings.key}}</td>
            <td>{{reading.average == ""? 'None' : reading.average}}</td>
            <td>{{reading.min == ""? 'None' : reading.min}}</td>
            <td>{{reading.max== ""? 'None' : reading.max}}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>