<aside class="menu app-sidebar slideInLeft">
  <ul class="menu-list">
    <li >
      <a  [ngClass]="{'is-active': step==='/dashboard' , 'is-active': isActive ==true}" (click)="onToggle('/dashboard',true)">
           Dashboard
        </a>
    </li>
    <li>
      <a  [ngClass]="{'is-active': step==='/configuration'}" (click)="onToggle('/configuration',false)"   >
          Configuration
        </a>
    </li>
    <li>
      <a  [ngClass]="{'is-active': step==='/scheduled-tasks'}" (click)="onToggle('/scheduled-tasks',false)">
          Scheduled Tasks
        </a>
    </li>
     <li>
      <a [ngClass]="{'is-active': step==='/audit'}" (click)="onToggle('/audit',false)">
           Audit Logs
        </a>
    </li>
    <!-- TODO: These menu item should be dynamic -->
    <li>
      <a [ngClass]="{'is-active': step==='/assets'}" (click)="onToggle('/assets',false)">
           Assets &amp; Readings
        </a>
    </li>
  </ul>
</aside>