<ul class="menu-list">
  <li>
    <a [ngClass]="{'is-active': step==='/dashboard'}" (click)="onToggle('/dashboard')">
           Dashboard
        </a>
  </li>
  <li>
    <a [ngClass]="{'is-active': step==='/configuration'}" (click)="onToggle('/configuration')">
          Configuration
        </a>
  </li>
  <li>
    <a [ngClass]="{'is-active': step==='/scheduled-tasks'}" (click)="onToggle('/scheduled-tasks')">
          Scheduled Tasks
        </a>
  </li>
  <li>
    <a [ngClass]="{'is-active': step==='/audit'}" (click)="onToggle('/audit')">
           Audit Logs
        </a>
  </li>
  <!-- TODO: These menu item should be dynamic -->
  <li>
    <a [ngClass]="{'is-active': step==='/assets'}" (click)="onToggle('/assets')">
           Assets &amp; Readings
        </a>
  </li>

  <li>
    <a [ngClass]="{'is-active': step==='/services-health'}" (click)="onToggle('/services-health')">
           Services Health
        </a>
  </li>

  <li>
    <a [ngClass]="{'is-active': step==='/settings'}" (click)="onToggle('/settings')">
           Settings
        </a>
  </li>
</ul>