<div class="app-navbar slideInDown">
  <div class="hero-head">
    <nav class="navbar">
      <div class="navbar-brand app-navbar">
        <a class="navbar-item">
        <b>FogLAMP Management</b>
        </a>
      </div>
      <div class="nav-right">
        <span class="tag is-success">Running</span>
      </div>
    </nav>
  </div>
</div>
<aside class="menu app-sidebar slideInLeft">
  <ul class="menu-list">
    <li>
      <a href="/dashboard">
           Dashboard
        </a>
    </li>
    <li>
      <a href="/configuration" class="is-active">
          Configuration
        </a>
    </li>
    <li>
      <a href="/scheduled-tasks" class="">
          Scheduled Tasks
        </a>
    </li>
    <!-- TODO: These menu item should be dynamic -->
    <li>
      <a href="#" class="">
           Assets & Readings
        </a>
    </li>
    <li>
      <a href="#" class="">
           Purge
        </a>
    </li>
    <li>
      <a href="#" class="">
           OMF Translator
        </a>
    </li>
  </ul>
</aside>
<section class="app-main">
<div class="container is-fluid">  
<!-- cards to be rendred as config.categories.count-->
<div class="card" *ngFor="let category of categoryData; let i = index;">
  <header class="card-header">
    <p class="card-header-title">
      {{category.key}}
    </p>
    <a class="card-header-icon"><span class="icon"><i class="fa fa-angle-down"></i></span></a>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="columns" *ngFor="let valueObject of category.value">
        <div class="column" *ngFor="let v of (valueObject | keys)">
          <h5 class="title is-5">{{v?.key}}</h5>
          <h6 class="subtitle is-6 has-text-grey-light"><small><i>{{v.value.description}}</i></small></h6>
          <!--<div class="field">
            <label> Default Value </label>
            <div class="control">
              <input class="input" type="text" [value]="v.value.default" disabled /> &nbsp;<span class="tag is-info is-small">{{v.value.type}}</span>
            </div>
          </div>-->
          <div class="field">
            <label>Value</label>
            <div class="control">
              <!-- edit will enable and allow to save this -->
              <input id="{{v.key}}" class="input" type="text" [value]="v?.value?.value" disabled />
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-small is-primary" (click)= "changeConfigFieldsState(v.key.trim(),true)">Edit</button>
            </div>
            <div class="control">
              <button id="btn-save-{{v.key.trim()}}" class="button is-small is-success" disabled (click)="saveConfigValue(category?.key.trim(), v?.key.trim())">Save</button>
            </div>
            <div class="control">
              <button class="button is-small is-danger" [disabled]="!v.value.value.trim()" (click) = "deleteConfigItem(category?.key.trim(), v?.key.trim())" >Delete</button>
            </div>
            <div class="control">
              <button id="btn-cancel-{{v.key.trim()}}" class="button is-small is-link" disabled (click)="changeConfigFieldsState(v.key.trim(),false)">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <small>{{configurationData[i].description}}</small>
      </footer>
    </div>
  </div>
</div>
</div>
</section>