<div class="container is-fluid">
  <!-- cards to be rendred as config.categories.count-->
  <div class="card" *ngFor="let category of categoryData; let i = index;">
    <header class="card-header">
      <div class="card-header-title">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">{{category.key}}</p>
            <p class="subtitle is-6">{{configurationData[i].description}}</p>
          </div>
        </div>
      </div>
    </header>

    <div class="card-content">
      <div class="content">
        <div class="columns" *ngFor="let valueObject of category.value">
          <div class="column" *ngFor="let v of (valueObject | keys)">
            <div class="field">
              <div class="control">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-5">{{v?.key}}</p>
                    <p class="subtitle is-6">{{v.value.description}}</p>
                  </div>
                </div>
                <div class="control">
                  <input id="{{v.key}}" class="input" type="text" [value]="v?.value?.value" [textContent]='v?.value?.value' (input)="onTextChange(v.key, true)"/>
                </div>
              </div>
            </div>

            <!--<h5 class="title is-5">{{v?.key}}</h5>
            <input id="{{v.key}}" class="input" type="text" [value]="v?.value?.value" />
            <h6 class="subtitle is-6 has-text-grey-light"><small><i>{{v.value.description}}</i></small></h6>-->
            <!--<div class="field">
            <label> Default Value </label>
            <div class="control">
              <input class="input" type="text" [value]="v.value.default" disabled /> &nbsp;<span class="tag is-info is-small">{{v.value.type}}</span>
            </div>
          </div>-->
            <!--<div class="field">
            <label>Value</label>
            <div class="control">
              <input id="{{v.key}}" class="input" type="text" [value]="v?.value?.value" disabled />
            </div>
          </div>-->
            <div class="field is-grouped">
              <!--<div class="control">
              <button class="button is-small is-primary" (click)= "changeConfigFieldsState(v.key.trim(),true)">Edit</button>
            </div>-->
              <div class="control">
                <button id="btn-save-{{v.key.trim()}}" class="button is-small is-success" (click)="saveConfigValue(category?.key.trim(), v?.key.trim(), true)">Save</button>
              </div>
              <!--<div class="control">
              <button class="button is-small is-danger" [disabled]="!v.value.value.trim()" (click) = "deleteConfigItem(category?.key.trim(), v?.key.trim())" >Delete</button>
            </div>-->
              <div class="control">
                <button id="btn-cancel-{{v.key.trim()}}" class="button is-small is-link" disabled (click)="restoreConfigFieldValue(v.key.trim(),false)">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>