<div class="container is-fluid">
  <div class="tile">
    <div class="tile is-parent">
      <div class="tile is-child card">
        <header class="card-header">
          <p class="card-header-title">
            Schedules
          </p>
        </header>
        <div class="card-content">
          <table class="table is-striped scroll is-responsive">
            <thead id="head">
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Day</th>
                <th>Time</th>
                <th>Interval</th>
                <th>Exclusive</th>
                <th></th>
              </tr>
            </thead>
            <tr *ngFor="let schedule of scheduleData">
              <td><small>{{schedule.name}}</small></td>
              <td><small> {{schedule.type}}</small></td>
              <td><small> {{schedule.day}}</small></td>
              <td><small> {{schedule.time}}</small></td>
              <td><small> {{schedule.repeat}}</small></td>
              <td><small> {{schedule.exclusive}}</small></td>
              <td>
                <div (click)="editSchedule(schedule.id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
              </td>
              <td>
                <div (click)="openModal(schedule.id)"><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
              </td>
            </tr>
          </table>
          <app-modal (notify)='onNotify()' [childData]='childData'></app-modal>
          <app-update-modal (notify)='onNotify()' [childData]='updateScheduleData'></app-update-modal>
        </div>
      </div>
    </div>
    <div class="tile">
      <div class="tile is-parent">
        <div class="tile is-child">
          <app-create-schedule (notify)='onNotify()' (process)='setScheduleProcess($event)' (type)='setScheduleType($event)'></app-create-schedule>
        </div>
      </div>
    </div>
  </div>

  <div class="tile">
    <div class="tile is-parent">
      <div class="tile is-child card">
        <header class="card-header">
          <div class="card-header-title">
            Tasks &nbsp;
            <div class="select" (change)="getTasks($event.target.value)">
              <select ng-model="selectedTaskType" id="task-state">
                <option>Latest</option>
                <option>Running</option>
              </select>
            </div>
          </div>
        </header>
        <div class="card-content">
          <table class="table is-striped  scroll is-responsive">
            <thead>
              <tr>
                <th>Process</th>
                <th>State</th>
                <th>Start time</th>
                <th>End Time</th>
                <th>Exit Code</th>
                <th>Reason</th>
              </tr>
            </thead>
            <tr *ngFor="let task of tasksData">
              <td><small>{{task.process_name}}</small></td>
              <td><small>{{task.state}}</small></td>
              <td><small>{{task.start_time != 'None' ?(task.start_time | date: 'dd-MM-yyyy HH:mm:ss') : task.start_time}}</small></td>
              <td><small>{{task.end_time != 'None'?(task.end_time | date: 'dd-MM-yyyy HH:mm:ss') : task.end_time}}</small></td>
              <td><small>{{task.exit_code}}</small></td>
              <td><small>{{task.reason}}</small></td>
              <td><button *ngIf="'RUNNING' == task.state" class="button is-small is-danger" (click)="cancelRunninTask(task.id)">Cancel</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>