<div class="container is-fluid">
  <div class="tile">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <h5 class="title"><small> Scheduled Processes </small></h5>
        <table class="table is-striped is-narrow">
          <thead>
            <tr>
              <th>Name</th>
              <th>Script</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let process of schedulesProcessData">
              <td>{{process.name}}</td>
              <td>
                <small> {{process.script}}</small>
              </td>
            </tr>
            <tbody>
        </table>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <h5 class="title"><small> Schedules </small></h5>
        <table class="table is-striped is-narrow">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Day</th>
              <th>Time</th>
              <th>Interval</th>
              <th>Exclusive</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let schedule of schedulesData">
              <td><small>{{schedule.name}}</small></td>
              <td><small> {{scheduleType[schedule.type]}}</small></td>
              <td><small> {{schedule.day}}</small></td>
              <td><small> {{schedule.time | slice:0:8}}</small></td>
               <td><small> {{schedule.repeat}}</small></td>
              <!--<td ><small> {{schedule.type}}</small></td>-->
              <td><small> {{schedule.exclusive}}</small></td>
            </tr>
            <tbody>
        </table>
      </article>
    </div>
  </div>

  <div class="tile">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <h5 class="title"><small> Latest Tasks </small></h5>
        <table class="table is-striped is-narrow">
          <thead>
            <tr>
              <th>PID</th>
              <th>Process</th>
               <th>State</th>
               <th>Start time</th>
              <th>End Time</th>
              <th>Exit Code</th>
              <th>Reason</th>
              <!--<th>id</th>-->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasksData">
              <td><small>{{task.pid}}</small></td>
               <td><small>{{task.process_name}}</small></td>
               <!--<td><small>{{task.state}}</small></td>-->
               <td><small>{{taskState[task.state]}}</small></td>
               <td><small>{{task.start_time | date: 'dd-MM-yyyy HH:mm:ss'}}</small></td>
              <td><small>{{task.end_time | date: 'dd-MM-yyyy HH:mm:ss'}}</small></td>           
              <td><small>{{task.exit_code}}</small></td>            
              <td><small>{{task.reason}}</small></td>
              <!--<td><small>{{task.id}}</small></td>-->
            </tr>
            <tbody>
        </table>
      </article>
    </div>
  </div>
</div>