<div class="container is-fluid">
  <div class="tile">
    <div class="tile is-parent">
      <div class="tile is-child card">
        <header class="card-header">
          <p class="card-header-title">
            Schedules
          </p>
        </header>
        <div class="card-content">
          <table class="table is-striped is-narrow">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Day</th>
                <th>Time</th>
                <th>Interval</th>
                <th>Exclusive</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let schedule of schedulesData">
                <td><small>{{schedule.name}}</small></td>
                <td><small> {{schedule.type}}</small></td>
                <td><small> {{schedule.day}}</small></td>
                <td><small> {{schedule.time | slice:0:8}}</small></td>
                <td><small> {{schedule.repeat}}</small></td>
                <td><small> {{schedule.exclusive}}</small></td>
              </tr>
              <tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tile">
      <div class="tile is-parent">
        <div class="tile is-child card">
          <header class="card-header">
            <p class="card-header-title">
              Create Schedule
            </p>
          </header>
          <div class="card-content">
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                    <input id="name" class="input" type="text" placeholder="Name">
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">Process Name</label>
                  <div class="control">
                    <div class="select">
                      <select>
                        <option disabled>Select</option>
                        <option [value]='process' *ngFor="let process of schedulesProcessData">{{process}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">Type</label>
                  <div class="control">
                    <div class="select">
                      <select  #t (change)="setType(t.value)">
                        <option disabled>Select</option>
                        <option [value]='type' *ngFor="let type of scheduleTypeKeys()">{{type}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">Exclusive</label>
                  <div class="control">
                    <input type="checkbox" checked>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">Repeat (Interval)</label>
                  <div class="control">
                    <input id="repeat" class="input" type='text' placeholder="hh:mm:ss" mask='00:00:00'>
                    <!--<div class="columns">
                      <div class="column">
                        <div class="field">
                          <input class="input" type="number" min="0" max="24" placeholder="hh">
                        </div>
                      </div>
                      <div class="column">
                        <div class="field">
                          <input class="input" type="number" min="0" max="60" placeholder="mm">
                        </div>
                      </div>
                      <div class="column">
                        <div class="field">
                          <input class="input" type="number" min="0" max="60" placeholder="ss">
                        </div>
                      </div>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">Day</label>
                  <div class="control">
                    <div class="select">
                      <select>
                        <option disabled>Select</option>
                        <option value='1'>Monday</option>
                        <option value='2'>Tuesday</option>
                        <option value='3'>Wednesday</option>
                        <option value='4'>Thursday</option>
                        <option value='5'>Friday</option>
                        <option value='6'>Saturday</option>
                        <option value='7'>Sunday</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">Time</label>
                  <div class="control">
                    <input id="time" class="input" type='text' placeholder="hh:mm:ss" mask='00:00:00'>
                  </div>
                  <div class="column">
                    <div class="field">
                      <div class="control">
                        <button id="save" class="button is-success is-pulled-right" (click)="createSchedule()">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tile">
    <div class="tile is-parent">
      <div class="tile is-child card">
        <header class="card-header">
          <p class="card-header-title">
            Latest Tasks
          </p>
        </header>
        <div class="card-content">
          <table class="table is-striped is-narrow">
            <thead>
              <tr>
                <th>PID</th>
                <th>Process</th>
                <th>State</th>
                <th>Start time</th>
                <th>End Time</th>
                <th>Exit Code</th>
                <th>Reason</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of tasksData">
                <td><small>{{task.pid}}</small></td>
                <td><small>{{task.process_name}}</small></td>
                <td><small>{{task.state}}</small></td>
                <td><small>{{task.start_time != 'None' ?(task.start_time | date: 'dd-MM-yyyy HH:mm:ss') : task.start_time}}</small></td>
                <td><small>{{task.end_time != 'None'?(task.end_time | date: 'dd-MM-yyyy HH:mm:ss') : task.end_time}}</small></td>
                <td><small>{{task.exit_code}}</small></td>
                <td><small>{{task.reason}}</small></td>
              </tr>
              <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>